ion-card {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.new-background-color {
  --background: #ff3401;
  height: 75px;
  // display: flex;
  display: inline-flex;

  justify-content: space-between;
}
.logo {
  max-width: 25%;
  margin-top: 45px;
}
img {
  max-width: 45px;
  border: 0;
  margin-top: 25px;
}
