<ion-header>
  <ion-toolbar class="new-background-color">
    <img class="logo" src="/assets/logo.png" />
    <ion-buttons slot="end">
      <img src="/assets/avatar.png" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img class="account" src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none"> </ion-list>
</ion-content>
